body{
	color: #5D5D5D; 
	background-color: #2D2D2D;
}

/*@media(max-width: 1000px){
	body{
		background-color: #2D2D2D;
	}
}*/

#srch{
	text-align: center; 
	margin-top: 30px;
}

#hd{
	padding: auto;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #5D5D5D;
	margin: 20px;
	font-family: monospace, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-family: fantasy;
	font-size: 30px;
}

#hd:hover{
	font-style: italic;
}

input[type=search]{
	width: 80%;
	height: 40px;
	font-size: 18px;
	border-radius: 4px;
}

#ggl{
	border: 2px solid #3cba54;
}

#yt{
	border: 2px solid #FF0000;
}

#dck{
	border: 2px solid #E37151;
}
