*,
*::before,
*::after {
  min-width: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  color: #2d2d2d;
  background-color: #5d5d5d;
}

header {
  font-size: 2.5rem;
  font-weight: 550;
  margin: 1px;
}

#ttl {
  margin-left: 15vw;
  display: inline;
}
/* I know how to use flex box and classes */
#dt {
  margin-right: 15vw;
  display: inline;
  float: right;
}

#srch {
  margin-top: 100px;
  text-align: center;
  align-items: center;
}

#srch div {
  margin: 10px;
}

#srch input[type="search"] {
  min-width: 80vw;
  height: 50px;
  padding: 0.5%;
  font-size: 1.5rem;
  border: none;
}

#srch input[type="search"]:focus {
  outline: none;
  background: #add8e6;
}

#srch input[type="search"]:placeholder-shown {
  font-size: 1.4rem;
}
